@font-face {
  font-family: 'iAWriterQuattroV';
  src: local('iAWriterQuattroV'), url(./assets/iAWriterQuattroV.ttf) format('truetype');
}

@font-face {
  font-family: 'iAWriterMonoV';
  src: local('iAWriterMonoV'), url(./assets/iAWriterMonoV.ttf) format('truetype');
}
